---
# GitHub Actions workflow for Hugo static site building and deployment
# Builds Hugo site, checks for broken links, and deploys to GitHub Pages
# https://gohugo.io/
name: hugo-build

on:
  workflow_dispatch:
  push:

permissions: read-all

jobs:
  hugo-build:
    runs-on: ubuntu-24.04-arm
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3.0.0

      - name: Build
        run: |
          hugo --gc
          cp LICENSE README.md public/

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: Link Checker
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          args: "--include-verbatim --no-progress --base-url ${{ steps.pages.outputs.base_url }} public"

      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          force_orphan: true
          cname: ${{ steps.pages.outputs.host }}
