---
# GitHub Actions workflow for broken link detection
# Scans website content and external links for broken or invalid URLs
name: links

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/links.yml
      - lychee.toml
  schedule:
    - cron: "0 0 * * 1"

permissions: read-all

jobs:
  links:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: Restore lychee cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      - name: Link Checker
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          args: "--include-verbatim --no-progress --base-url ${{ steps.pages.outputs.base_url }} ."
